name: CI

on: [push, workflow_dispatch, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Set up Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.14"
          cache: "pip"
      - name: Install system dependencies
        run: |
          sudo apt update -y
          sudo apt install -y python3-libvirt libvirt-dev pkg-config libvirt-clients qemu-system-x86 libvirt-daemon libvirt-daemon-system
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pytest
      - name: Run tests
        run: pytest -q
