name: ci
on: [push, workflow_dispatch, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: actions/setup-python@v6.1.0
    - name: Install system dependencies
      run: |
        sudo apt update -y
        sudo apt install -y python3-libvirt libvirt-dev libvirt-clients qemu-system-x86 libvirt-daemon libvirt-daemon-system
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r requirements.txt
    - uses: pre-commit/action@v3.0.1
